langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
faiss-cpu
pdfplumber
sentence-transformers
streamlit
python-dotenv
huggingface-hub
transformers
torch